<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag(attachments['logo.png'].url) %>
    <h2>Message from BluCollar Website</h2>
    <p>Name: <%= @contact[:name] %></p>
    <p>Email: <%= @contact[:email] %></p>
    <p>Message: <%= @contact[:msg] %></p>
  </body>
</html>