<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="images/blucollar-logo-non-bold.png" alt="Logo" />
    <h1>Welcome to BluCollar, <%= @employee.profile.name %></h1>
    <p>
      You have successfully signed up to BluCollar.com. Once you complete the questionnaire, we can begin matching you with potential employers. Then sit back and watch jobs roll in to your mailbox.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
