<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="images/blucollar-logo-non-bold.png" alt="Logo" />
    <h1>Hello, <%= @employer.name %></h1>
    <p>
      Your account has been updated to a <%= @employer.subscription %> subscription. Your next payment will occur on <%= @employer.payment %>.
      
      <br>
      If you did not initiate this cancellation, please contact us immediately to assure there is no disruption with your subscription.
    </p>
    <p>
      To login to the site, just follow this link: <a href=<%= @url %> target="_blank">BluCollar</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>