<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="/images/BluCollar-Logo.jpeg" alt="Logo" />
    <h1>Welcome to BluCollar, <%= @employer.name %></h1>
    <p>
      You have successfully signed up to BluCollar.com. Once you begin posting jobs, we can start the process of matching with potential candidates. Keep an eye on your inbox for a flood of candidates.
    </p>
    <p>
      To login to the site, just follow this link: <a href="https://blucollar-jobs.herokuapp.com" target="_blank">BluCollar</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>