@import 'bootstrap/scss/bootstrap';

body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.logo img {
  height: 75px;
}

.nav-home {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-home .links {
  display: flex;
  // position: relative;
  // bottom: 100px;
  justify-content: right;
}

.nav-og {
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
}

.nav-sign {
  display: flex;
  justify-content: center;
}

.nav-links {
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: right;
}

a {
  margin: 5px;
}

.homepage {
  margin: 20px;
}

.homepage-container {
  // padding: 50px;
  // display: grid;
  text-align: center;
  // justify-content: space-between;
}

.homepage-header {
  display: flex;
  justify-content: center;
}

.homepage-body {
  display: flex;
  justify-content: center;
}

.homepage-body div {
  margin: 25px;
}

.homepage-header img {
  width: 700px;
}

// .homepage-cards {
// }

// .homepage-body .card{
// }
// .homepage .cards {
  // display: flex;
  // justify-content: center;
  // background-color: #cccccc;
  // border: black 1px solid;
  // padding: 10px;
  // margin: 10px;
  // width: 100px;
  // height: 50px;
// }

.homepage-image {
  background-image: url("/images/BluCollar-Logo.jpeg");
  background-color: #cccccc;
  // height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
}

.homepage .footer {
  position: relative;
  top: 50px;
}

.employer-jobs {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

// .homepage-body .card {
  // width: 100px;
    // padding-left: 25px;
    // padding-right: 25px;
    // padding-top: 25px;
    // margin-bottom: 25px;
    // margin-right: 25px;
    // margin-top: 25px;
    // border: black solid 1px;
    // background-color: blue;
    // color: white;
// }

.card a {
  color: white;
}

.card-header {
  text-align: center;
  border-bottom: 0px;
  background-color: inherit;
}

.jobs {
  display: grid;
  justify-content: center;
}

h1, h2 {
  text-align: center;
}


.employee-nav {
  display: grid;
  justify-content: center;
}

.employer-nav{
  display: grid;
  justify-content: center;
  margin-bottom: 25px;
}

// .employees {
//   display: grid;
//   justify-content: center;
// }

.employees h2 {
  position: relative;
  right: 300px;
}

.employees-jobs {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.employees-jobs .card {
  width: 250px;
  padding: 10px;
  margin-inline: 25px;
  margin-block-end: 45px;
}

.employee-jobs-buttons {
  display: flex;
  justify-content: space-evenly;
}

.employer-jobs .card {
  width: 225px;
  padding: 10px;
  margin-inline: 25px;
  margin-block-end: 45px;
}

.employer-profile {
  display: grid;
  justify-content: center;
}

.job img {
  width: 50px;
}

.modal-dialog {
  position: absolute;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}


.signIn {
  width: 400px;
}

.profile-form {
  margin: 20px;
}

.employee-profile {
  margin: 20px;
}

.loading {
  position: absolute;
  top: 20px;
  left: 25px;
}

// .homepage-contractors {
//   margin-top: 40px;
// }
// .modal-body {
//   display: flex;
//   justify-content: center;
// }

// .jobtype {
//   display: grid;
// }

// .schedule {
//   display: grid;
// }