@import 'bootstrap/scss/bootstrap';

body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

nav {
  margin-top: 10px;
}

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.logo img {
  height: 75px;
}

.nav-home {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-home .links {
  display: flex;
  // position: relative;
  // bottom: 100px;
  justify-content: right;
}

.nav-og {
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
}

.nav-sign {
  display: flex;
  justify-content: center;
}

.nav-links {
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: right;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  font-size: x-large;
  color: #113955;
}

.nav a:hover {
  color: #3d8ac9;
}

// a {
//   margin: 5px;
// }

.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  // margin: 75px;
}

.homepage-container {
  // padding: 50px;
  // display: grid;
  text-align: center;
  // justify-content: space-between;
}

.homepage-header {
  display: flex;
  justify-content: center;
  border-style: inset;
  border-color: #113955;
  padding: 25px;
  box-shadow: 5px 10px #3d8ac9;
}

.homepage-body {
  display: flex;
  justify-content: space-evenly;
}

.homepage-body div {
  margin-top: 25px;
}

.homepage-header img {
  max-width: 100%;
  height: auto;
}

// @media (max-width: 700px) {
//   .homepage-header img {
//     width: 300px;
//   }
//   .signIn {
//     width: 275px;
//   }
// }

// .homepage-cards {
// }

// .homepage-body .card{
// }
// .homepage .cards {
  // display: flex;
  // justify-content: center;
  // background-color: #cccccc;
  // border: black 1px solid;
  // padding: 10px;
  // margin: 10px;
  // width: 100px;
  // height: 50px;
// }

.homepage-image {
  background-image: url("/images/BluCollar-Logo.jpeg");
  background-color: #cccccc;
  // height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
}

.homepage .footer {
  position: relative;
  top: 50px;
}

.employer-jobs {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

// .homepage-body .card {
  // width: 100px;
    // padding-left: 25px;
    // padding-right: 25px;
    // padding-top: 25px;
    // margin-bottom: 25px;
    // margin-right: 25px;
    // margin-top: 25px;
    // border: black solid 1px;
    // background-color: blue;
    // color: white;
// }

.card a {
  color: 	#113955;
}

.card-header {
  text-align: center;
  border-bottom: 0px;
  background-color: inherit;
}

// .jobs {
//   display: grid;
//   justify-content: center;
// }

h1, h2 {
  text-align: center;
}


.employee-nav {
  display: grid;
  justify-content: center;
}

.employer-nav{
  display: grid;
  margin-bottom: 10px;
}

.employer-nav nav {
  display: flex;
  justify-content: center;
}

// .employees {
//   display: grid;
//   justify-content: center;
// }

.candidates {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-block: 25px;
}

.candidates .card {
  width: 12rem;
  padding: 5px;
  display: grid;
  justify-items: center;
  margin-inline: 50px;
  background-color: #3d8ac9;
}

.search {
  display: grid;
  justify-content: center;
}

.search label {
  margin-block-end: 15px;
  margin-inline: 15px;
}

.search button {
  margin-left: 10px;
}

.search-buttons {
  display: flex;
  justify-content: right;
  margin-block-start: 10px;
}

// .employees h2 {
//   position: relative;
//   right: 300px;
// }

.employees-jobs {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.employees-jobs .card {
  width: 375px;
  height: 300px;
  margin-inline: 25px;
  margin-block-end: 45px;
  background-color: #3d8ac9;
}

.employee-jobs-buttons {
  display: flex;
  justify-content: space-evenly;
}

.employer-jobs .card {
  width: 225px;
  padding: 10px;
  margin-inline: 25px;
  margin-block-end: 45px;
  background-color: #3d8ac9;
}

.employer-jobs button {
  background-color: #113955;
  border-color: #113955;
}

.employer-profile {
  display: grid;
  justify-content: center;
}

.contractor .jobs {
  display: grid;
  justify-content: center;
}

.contractor .job {
  width: 50rem;
}

.contractor table {
  margin-bottom: -1px;
}

.employer-nav h1 {
  margin: -5px;
}

.job .card-body {
  display: grid;
  justify-content: center;
}

.job img {
  width: 50px;
  padding: 25px;
}

.contractor .card-body {
  padding-inline: 50px;
}

// .modal-body td:nth-child(2) {
//   display: flex;
//   justify-content: right;
// }


.job-info td:nth-child(2) {
  display: flex;
  justify-content: right;
}

.job-info td {
  width: 200px;
}

.job-info {
  // padding-inline: 25px;
  padding-block-start: 25px;
  display: grid;
  justify-content: center;
  border-style: inset;
  border-color: #113955;
}

.job-body {
  padding-top: 15px;
}

job-body .table {
  border-style: inset;
  border-color: #3d8ac9;
}

.description {
  display: flex;
  justify-content: center;
  padding-block-end: 10px;
  overflow-block: auto;
  max-height: 250px;
}

.subtitle {
  display: flex;
  justify-content: space-around;
}

.desired.row {
  padding-block: 15px;
}

.desired .col {
  display: flex;
  justify-content: center;
}

.modal-dialog {
  position: absolute;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}


.signIn {
  max-width: 100%;
  height: auto;
}

.profile-form {
  margin: 20px;
  display: grid;
  justify-content: center;
}

.employee-profile {
  margin-inline: 20px;
  margin-block-end: 20px;
  display: grid;
  justify-content: center;
}

.employee-profile td:nth-child(2) {
  display: flex;
  justify-content: right;
}

.employee-profile button {
  width: min-content;
}

.employee-title {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.edit-button {
  display: flex;
  justify-content: right;
}

.employer-profile button {
  width: min-content;
}

.loading {
  position: absolute;
  top: 20px;
  left: 25px;
}

.subscriptions {
  display: flex;
  justify-content: center;
}

.subscriptions div {
  display: grid;
  justify-items: center;
}

.monthly {
  margin-inline-end: 35px;
}

.yearly {
  margin-inline-end: 30px;
}

.vl {
  border: 1px solid black;
}

.modal-header {
  justify-content: center;
}

// .homepage-contractors {
//   margin-top: 40px;
// }
// .modal-body {
//   display: flex;
//   justify-content: center;
// }

// .jobtype {
//   display: grid;
// }

// .schedule {
//   display: grid;
// }